.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-inner {
  position: relative;
  width: 80%;
  height: 50%;
  background: black;
  border-radius: 10px;
}
.modal-inner-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.modal-inner-youtube {
  aspect-ratio: 16/9;
  width: 90%;

  background-color: white;
}
.modal-inner-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: white;
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  border: 10px solid black;
  border-radius: 10px;
  border-left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-inner-title {
  width: 100%;
  height: 12%;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1%;
  box-sizing: border-box;
}
.modal-inner-list {
  width: 100%;
  height: 88%;
  background-color: aqua;
}
.options {
  display: flex;
  gap: 3px;
}
